<header class="navbar navbar-fixed-top navbar-inverse">
  <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Tangerine">
  <br>
  <div class="container">
            <nav>
              <ul class="nav navbar-nav navbar-left">
                <li> <%= link_to "The Campaign", '/' %></li> </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Characters", characters_path %></li>
                <li><%= link_to "Character Notes", char_notes_path %></li>

              </ul>
            </nav>
    </div>
</header>
